<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Auth Project</title>
    <link rel="icon" href="./logoImage.jpg" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <!-- Logo and Project Name -->
        <div class="logo">
          <img src="./logoImage.jpg" alt="Auth Project Logo" />
          <span>Auth0 Project</span>
        </div>
        <div class="nav-links">
          <% if(!isAuthenticated) { %>
          <a class="btn login" href="/login">Login</a>
          <% } else { %>
          <a class="btn login" href="/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </nav>

    <!-- Main content -->
    <main class="main-content">
      <section class="description">
        <h1>Welcome to Auth0 Project</h1>
        <p>
          Our project offers a seamless way to log in and sign up using popular
          services like Facebook, Twitter, Google, LinkedIn, and GitHub. Powered
          by <strong>Passport.js</strong> and <strong>Auth0</strong>, we ensure
          secure and efficient authentication for users. Whether you're looking
          to simplify user access or add additional layers of security, our
          solution has you covered.
        </p>
      </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p>&copy; 2024 Auth Project. All rights reserved.</p>
        <div class="social-links">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
          <a href="#">Contact Us</a>
        </div>
      </div>
    </footer>
  </body>
</html>
